@model List<MvcApp.Models.NewsItem>


@foreach (NewsItem item in Model)
{
    <div>
        <h3>@item.Title</h3>

        <a href="@item.Link" target="_blank">
            Read More
        </a>

        <p>@item.PubDate</p>

        <hr>
    </div>
}