@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<style>
    body {
        margin: 0;
        padding: 30px;
        font-family: Arial, sans-serif;
        background: linear-gradient(to right, #1e3c72, #2a5298);
        color: white;
    }

</style>

<p>Use this page to detail your site's privacy policy.</p>
